@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Fuzzy Bubbles', cursive;
}

body {
    height: 90vh;
    padding: 1rem;
    background-image: url("background.jpg");
    background-color: #5DA4D9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#emoji-container {
    border: 3px solid gainsboro;
    border-radius: 4rem;
    margin: 1rem auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    width: 90%;
}

#emoji-container span {
    margin: .5rem;
    font-size: 4rem;
}

#push-btn,#unshift-btn {
    background-color: #80D87F;
}

#push-btn:hover,#unshift-btn:hover {
    background-color: #66a863;
}

#shift-btn,#pop-btn {
    background-color: #E23349;
}

#shift-btn:hover,#pop-btn:hover {
    background-color: #a12334;
}

h1 {
    letter-spacing: .25rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 1rem;
}

input, select {
    margin: 0 auto;
    display: block;
    border: none;
    background: white;
    border-radius: .75rem;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 20.5rem;
    width: 90%;
    font-size: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    background: darkcyan;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .75rem;
    margin: 0 .5rem;
    width: 10rem;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: .25rem 0;
}

#interface {
    border: 3px solid gainsboro;
    border-radius: 4rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
}

#emoji-size {
    display: flex;
    justify-content: center;
}

.size {
    outline: 1px solid red;
    display: flex;
    width: 10rem;
    margin-right: .5rem;
}

.size-option {
    outline: 1px solid yellow;
    width: 1rem;
    margin: 0 .5rem;
}

label {
    outline: 1px solid white;
}