@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Fuzzy Bubbles', cursive;
}

body {
    height: 90vh;
    padding: 1rem;
    background-image: url("background.jpg");
    background-color: #5DA4D9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#emoji-container {
    margin: 1rem;
    text-align: center;
}

#emoji-container span {
    margin: .5rem;
    font-size: 4rem;
}

#push-btn,#unshift-btn {
    background-color: #80D87F;
}

#push-btn:hover,#unshift-btn:hover {
    background-color: #66a863;
}

#shift-btn,#pop-btn {
    background-color: #E23349;
}

#shift-btn:hover,#pop-btn:hover {
    background-color: #a12334;
}

h1 {
    letter-spacing: .25rem;
    text-align: center;
    color: white;
    background-color: rgba(93, 164, 217, .5);
    width: 90%;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 1rem;
}

input {
    margin: 0 auto;
    display: block;
    border: none;
    height: 2rem;
    background: white;
    border-radius: .75rem;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 20.5rem;
    width: 90%;
}

button {
    font-family: 'Roboto', sans-serif;
    background: darkcyan;
    color: white;
    border: none;
    padding: .5rem;
    border-radius: .75rem;
    margin: 0 .5rem;
    width: 10rem;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin: .25rem 0;
}

#interface {
    border: 5px solid white;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
}